
<div >
    <div  >
        <div >
            <label class="text-gray-600 text-sm">Customer Detail</label><br>
           
        </div>
        <div >
            <label class="text-gray-600 text-sm">Customer Name:</label><br>
            <input type="text" placeholder="Name">
        </div>
        <div class="mb-4">
            <label class="text-gray-600 text-sm">Email:</label>
            <p class="text-blue-500 font-medium">abc@example.com</p>
        </div>
        <div class="mb-4">
            <label class="text-gray-600 text-sm">Phone:</label>
            <p class="text-gray-800 font-medium">8543214567</p>
        </div>
        <div class="mt-6">
            <a href="#" class="text-blue-500 hover:underline">Edit Customer</a>
        </div>
    </div>
    
</div>

